<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
          <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
        <a routerLink="/" class="navbar-brand">Tennis Scheduler</a>
      </div>

      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/courts">All Courts</a></li>
          <li routerLinkActive="active"><a routerLink="/reservations">My Reservations</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
            <span class="caret"></span>
          </button>
          <mat-menu #profileMenu>
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Log Out</button>
          </mat-menu>
        </ul>
      </div>
    </div>
  </nav>
