<br>
<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      Created by Anna Craven
      <a href="https://www.poetryfoundation.org/poems/48860/the-raven"
        target="__blank">
        <img mat-card-avatar src="./assets/img/raven.png">
      </a>
    </p>
  </div>
</footer>
