
table, td {
  border-style: solid;
  border-width: thin;
}

td {
  font-size: 12px;
  text-align: center;
}

tr:hover {
  background-color: lightGrey;
}

.court-header {
  padding: 5px;
  text-align: center;
}

.reserved {
  background-color: var(--primary)
}

.highlighted {
  background-color:  yellow;
}


