<table>
  <thead>
    <th>
      <mat-icon style="width: 2.25em">access_time</mat-icon>
    </th>
    <th *ngFor="let elem of numCourts; let i = index"
      scope="col" class="court-header">
      Court {{ i + 1 }}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let time of times">
      <td><b>{{ time }}</b></td>
      <td
        *ngFor="let elem of numCourts; let i = index"
        [id]="i + 1 + '-' + time"
        [ngClass]="isReserved(i + 1, time)? 'reserved' :
                   isHighlighted(i + 1, time)? 'highlighted' : ''"
        matTooltip='Reserved by {{ isReserved(i + 1, time) }}'
        [matTooltipDisabled]="!isReserved(i + 1, time)"
        (click)="updateHighlight(i + 1, time)">
      </td>
    </tr>
  </tbody>
</table>
