<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutGap="10px">
      <img src="assets/img/racquet-left.png" height="40px" width="40px">
      <h1>Welcome to Tennis Scheduler!</h1>
      <img src="assets/img/racquet-right.png" height="40px" width="40px">
  </div>
  <img src="assets/img/tennis-start.jpeg" class="round" alt="" height='400px' width="600px">
</div>
