
<div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="1em">
  <div fxLayout="column">
      <mat-form-field appearance="standard">
          <mat-label>Choose a date</mat-label>
          <input #dateInput matInput [matDatepicker]="picker"
            [(ngModel)]="selectedDate" (ngModelChange)="onChangeDate()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      <div fxLayout="row" fxAlign="center">
          <h2 class="text-center">
            <mat-icon (click)="changeDate(-1)" style="cursor: pointer">keyboard_arrow_left</mat-icon>
            {{ selectedDate.toDateString() }}
            <mat-icon (click)="changeDate(1)" style="cursor: pointer">keyboard_arrow_right</mat-icon>
          </h2>
      </div>
    </div>
    <div fxFlexAlign="center">
      <app-weather [court]="court"></app-weather>
    </div>

</div>

