<div fxLayout="column" fxLayoutAlign="center center">
  <div [ngSwitch]="weatherDay.icon"
    matTooltip="Wind Speed: {{ weatherDay.windSpeed }}
                Temperature: {{ weatherDay.temp }}&deg;F"
    matTooltipClass="multi-line"
    [matTooltipDisabled]="daysIndex == -1">
    <img *ngSwitchDefault
      src="{{'http://openweathermap.org/img/wn/' + weatherDay.icon + '@2x.png'}}"
      alt="weather icon" class="blue weather-icon">
    <mat-icon *ngSwitchCase="'01d'"
      class="weather-icon"
      style="font-size: 4em; color: yellow">
      wb_sunny
    </mat-icon>
    <mat-icon *ngSwitchCase="'none'"
      class="weather-icon"
      style="font-size: 4em">
      sync_disabled
    </mat-icon>
  </div>
</div>

