<div class="flex-container"
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="1em"
  >
  <app-selected></app-selected>
  <div class="scrollable"
    fxLayout="column"
    fxLayoutAlign="start"
    fxLayoutGap="1em">
    <mat-card
      *ngFor="let court of courtsList"
        style="cursor: pointer"
        [ngClass]="{'available': getAvailability(court), 'unavailable': !getAvailability(court)}">
        <a routerLink="{{court.id}}" routerLinkActive="active">
          <mat-card-header>
            <div mat-card-avatar class="img-with-text"
              matTooltip="{{ getAvailability(court) }} courts available">
              <img style="max-height: 50px"
                src='./assets/img/tennis-ball.png'>
              <div class="centered">{{ getAvailability(court) }}</div>
            </div>
            <mat-card-title>{{ court.name }}</mat-card-title>
            <mat-card-subtitle>{{ getCityName(court) }}</mat-card-subtitle>
          </mat-card-header>
        </a>
      </mat-card>
  </div>
</div>


