a:hover {
  text-decoration: none;
}

mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.active {
  color: var(--primary);
  text-decoration: none;
}


.available {
  background-color: palegreen;

}

.unavailable {
  background-color: ghostwhite;
}

/* for number of courts available */
.centered {
  position: absolute;
  top: 57%;
  left: 63%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: black;
}
/* Container holding the image and the text */
.img-with-text {
  position: relative;
}

.scrollable {
  height: 700px;
  overflow: auto;
}
