<form class="example-form">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset='50px'>
    <mat-form-field appearance="fill">
      <mat-label>Court Number</mat-label>
      <input disabled matInput type="number"
      [(ngModel)]="reserveInput.court_number" name="court_number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start Time</mat-label>
      <input disabled matInput [type]="reserveInput.start? 'text' : 'time'" step="1800" [(ngModel)]="reserveInput.start" name="start" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Time</mat-label>
      <input disabled matInput [type]="reserveInput.end? 'text' : 'time'" step="1800"
        [(ngModel)]="reserveInput.end" name="end" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="user" name="user" required>
    </mat-form-field>

    <div
      matTooltip="Reservation must not have gaps"
      [matTooltipDisabled]="reserveInput.valid"
      matTooltipPosition="right">
      <button mat-flat-button
        [disabled]="!reserveInput.valid"
        color="primary" (click)="onSubmit()" style="margin-bottom: 8px">
        Make Reservation
      </button>
    </div>

    <button mat-flat-button color="accent" (click)="onClear(); $event.stopPropogation()">Clear</button>
  </div>
</form>



