<div
  fxLayout="row"
  fxLayoutAlign="space-around"
  fxLayoutGap="5em"
  style="margin-left: 5em; margin-right: 5em">
  <div fxFlex="30%" fxFlex.gt-sm="20%">
    <app-courts-list></app-courts-list>
  </div>
  <div fxFlexAlign="center">
    <router-outlet></router-outlet>
  </div>
</div>


