<button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
  Select Cities
  <span class="caret"></span>
</button>
<mat-menu #menu="matMenu">
  <div
    *ngFor="let item of selectedCities | keyvalue"
    mat-menu-item (click)="$event.stopPropagation()"
    style="cursor: default">
    <input type="checkbox"
      [(ngModel)]="selectedCities[item.key]"
      (ngModelChange)="onSelect()">
      {{ getCityName(item.key) }}
  </div>
  <div mat-menu-item (click)="$event.stopPropagation()">
    <input
      type="checkbox" [(ngModel)]="all" (ngModelChange)="onSelectAll()">All</div>
</mat-menu>

