/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  /* same as $my-app-primary but I couldn't figure out how to get that */
  --primary: #03A9F4;
  --accent: #00E676;
}
