@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue);;
$my-app-accent:  mat-palette($mat-light-green, A400);
$my-app-warn:    mat-palette($mat-red, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
