<div fxLayout="column" fxLayoutAlign="start center">
    <app-court-header [court]="court"></app-court-header>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxLayout="column" fxLayoutAlign="start center">
          <app-date [court]="court"></app-date>
          <app-calendar [court]="court"></app-calendar>
        </div>
        <div fxFlexAlign="center">
          <app-reserve [court]="court"></app-reserve>
        </div>
      </div>

  </div>
